

<mat-card class="w-100 h-100" *ngIf="product">
    <div class="position-absolute end-0">
        <!-- set line-height due to angular material icon button issue -->
        <button mat-icon-button 
            style="line-height: 1; z-index: 1;"
            [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editProduct()">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteProduct()">
              <mat-icon class="text-danger">delete</mat-icon>
              <span class="text-danger">Delete</span>
            </button>
          </mat-menu>
    </div>
    
    <img mat-card-image
        *ngIf="!loadingError" 
        class="h-50 object-fit-contain" 
        [src]="product.imageUrl"
        (error)="loadingError = true"
     >
    <div *ngIf="loadingError"
         class="h-50 d-flex align-items-center justify-content-center">
         <div class="d-flex flex-column">
            <div class="text-center"> <mat-icon>error_outline</mat-icon> </div>
            <div> Could not load the image </div>
         </div>
    </div>

    <mat-card-content class="h-50 d-flex flex-column justify-content-between">
        <div>
            <h3>
                {{ product.name }}
            </h3>

            <h6>
                Description
            </h6>

            {{ product.description }}
        </div>

        <div>
            <div style="align-items: center;">
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div style="font-size: 12px; margin: 5px 0">
                    Estimated delivery: {{deliveryDate}}
                    </div>
                    
                    <div style=" display: flex; flex-direction: column; align-items: center;">
                        <div style="font-size: 12px">
                            Express delivery
                        </div>
                        <mat-slide-toggle color="primary" (change)="setExpressDelivery($event)"></mat-slide-toggle>
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <button mat-raised-button disabled="true"> Buy </button>
                <div style="display: flex; flex-direction: row; justify-content: center;"> 
                    <button mat-mini-fab class="fab" color="primary" (click)="changeProductCount(-1)" [disabled]="count <= 1">
                        <mat-icon> remove </mat-icon>
                    </button>

                    <div style="line-height: 40px; margin: 0 5px;">
                        {{ count }} {{ unit }}
                    </div>

                    <button mat-mini-fab class="fab" color="primary" (click)="changeProductCount(1)">
                        <mat-icon> add </mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>
